ClienteWPF/Service References/ProxyWCFNormal/ServicioNormal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://com.miempresa.wwww" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.miempresa.wwww" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.miempresa.wwww/Imports">
      <xsd:import schemaLocation="http://localhost:50564/ServicioNormal.svc?xsd=xsd0" namespace="http://com.miempresa.wwww" />
      <xsd:import schemaLocation="http://localhost:50564/ServicioNormal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50564/ServicioNormal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" />
      <xsd:import schemaLocation="http://localhost:50564/ServicioNormal.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:50564/ServicioNormal.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioNormal_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaPorID" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_ProductosPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductosPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_ProductosPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductosPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaYProductosPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaYProductosPorId" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaYProductosPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaYProductosPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_PedidoPorCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidoPorCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_PedidoPorCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidoPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_PedidosPorCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidosPorCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_PedidosPorCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidosPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaPorIDConErrores_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaPorIDConErrores" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaPorIDConErrores_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaPorIDConErroresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaPorIDConErrores_ClaseErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWCF" name="detail" element="q1:ClaseError" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaPorIDConErrores_StringFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q2:string" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaPorIDconPausa_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaPorIDconPausa" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_CategoriaPorIDconPausa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaPorIDconPausaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_IncrementaContador_InputMessage">
    <wsdl:part name="parameters" element="tns:IncrementaContador" />
  </wsdl:message>
  <wsdl:message name="IServicioNormal_IncrementaContador_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncrementaContadorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioNormal">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://com.miempresa.wwww/IServicioNormal/GetData" message="tns:IServicioNormal_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa.wwww/IServicioNormal/GetDataResponse" message="tns:IServicioNormal_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CategoriaPorID">
      <wsdl:input wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaPorID" message="tns:IServicioNormal_CategoriaPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaPorIDResponse" message="tns:IServicioNormal_CategoriaPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductosPorCategoria">
      <wsdl:input wsaw:Action="http://com.miempresa.wwww/IServicioNormal/ProductosPorCategoria" message="tns:IServicioNormal_ProductosPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa.wwww/IServicioNormal/ProductosPorCategoriaResponse" message="tns:IServicioNormal_ProductosPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CategoriaYProductosPorId">
      <wsdl:input wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaYProductosPorId" message="tns:IServicioNormal_CategoriaYProductosPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaYProductosPorIdResponse" message="tns:IServicioNormal_CategoriaYProductosPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidoPorCliente">
      <wsdl:input wsaw:Action="http://com.miempresa.wwww/IServicioNormal/PedidoPorCliente" message="tns:IServicioNormal_PedidoPorCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa.wwww/IServicioNormal/PedidoPorClienteResponse" message="tns:IServicioNormal_PedidoPorCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidosPorCliente">
      <wsdl:input wsaw:Action="http://com.miempresa.wwww/IServicioNormal/PedidosPorCliente" message="tns:IServicioNormal_PedidosPorCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa.wwww/IServicioNormal/PedidosPorClienteResponse" message="tns:IServicioNormal_PedidosPorCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CategoriaPorIDConErrores">
      <wsdl:input wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaPorIDConErrores" message="tns:IServicioNormal_CategoriaPorIDConErrores_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaPorIDConErroresResponse" message="tns:IServicioNormal_CategoriaPorIDConErrores_OutputMessage" />
      <wsdl:fault wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaPorIDConErroresClaseErrorFault" name="ClaseErrorFault" message="tns:IServicioNormal_CategoriaPorIDConErrores_ClaseErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaPorIDConErroresStringFault" name="StringFault" message="tns:IServicioNormal_CategoriaPorIDConErrores_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CategoriaPorIDconPausa">
      <wsdl:input wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaPorIDconPausa" message="tns:IServicioNormal_CategoriaPorIDconPausa_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa.wwww/IServicioNormal/CategoriaPorIDconPausaResponse" message="tns:IServicioNormal_CategoriaPorIDconPausa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncrementaContador">
      <wsdl:input wsaw:Action="http://com.miempresa.wwww/IServicioNormal/IncrementaContador" message="tns:IServicioNormal_IncrementaContador_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa.wwww/IServicioNormal/IncrementaContadorResponse" message="tns:IServicioNormal_IncrementaContador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>