ClienteWPF/Service References/ProxySingle/ServicioSingle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioSingle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50564/ServicioSingle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50564/ServicioSingle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioSingle_IncrementaContador_InputMessage">
    <wsdl:part name="parameters" element="tns:IncrementaContador" />
  </wsdl:message>
  <wsdl:message name="IServicioSingle_IncrementaContador_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncrementaContadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSingle_ReseteaContador_InputMessage">
    <wsdl:part name="parameters" element="tns:ReseteaContador" />
  </wsdl:message>
  <wsdl:portType name="IServicioSingle">
    <wsdl:operation name="IncrementaContador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/IncrementaContador" message="tns:IServicioSingle_IncrementaContador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/IncrementaContadorResponse" message="tns:IServicioSingle_IncrementaContador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReseteaContador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSingle/ReseteaContador" message="tns:IServicioSingle_ReseteaContador_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioSingle" type="tns:IServicioSingle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IncrementaContador">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/IncrementaContador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReseteaContador">
      <soap:operation soapAction="http://tempuri.org/IServicioSingle/ReseteaContador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioSingle">
    <wsdl:port name="BasicHttpBinding_IServicioSingle" binding="tns:BasicHttpBinding_IServicioSingle">
      <soap:address location="http://localhost:50564/ServicioSingle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>