ClienteWPF/Service References/ProxyIIS/ServicioNormal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://com.miempresa2.wwww" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.miempresa2.wwww" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.miempresa2.wwww/Imports">
      <xsd:import schemaLocation="http://localhost/ServiciosWCF/ServicioNormal.svc?xsd=xsd5" namespace="http://com.miempresa2.wwww" />
      <xsd:import schemaLocation="http://localhost/ServiciosWCF/ServicioNormal.svc?xsd=xsd0" namespace="http://com.miempresa.wwww" />
      <xsd:import schemaLocation="http://localhost/ServiciosWCF/ServicioNormal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ServiciosWCF/ServicioNormal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" />
      <xsd:import schemaLocation="http://localhost/ServiciosWCF/ServicioNormal.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost/ServiciosWCF/ServicioNormal.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioNormalAux_CategoriaPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaPorID" />
  </wsdl:message>
  <wsdl:message name="IServicioNormalAux_CategoriaPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormalAux_ProductosPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductosPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioNormalAux_ProductosPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductosPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNormalAux_Hora_InputMessage">
    <wsdl:part name="parameters" element="tns:Hora" />
  </wsdl:message>
  <wsdl:message name="IServicioNormalAux_Hora_OutputMessage">
    <wsdl:part name="parameters" element="tns:HoraResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioNormalAux">
    <wsdl:operation name="CategoriaPorID">
      <wsdl:input wsaw:Action="http://com.miempresa2.wwww/IServicioNormalAux/CategoriaPorID" message="tns:IServicioNormalAux_CategoriaPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa2.wwww/IServicioNormalAux/CategoriaPorIDResponse" message="tns:IServicioNormalAux_CategoriaPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductosPorCategoria">
      <wsdl:input wsaw:Action="http://com.miempresa2.wwww/IServicioNormalAux/ProductosPorCategoria" message="tns:IServicioNormalAux_ProductosPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa2.wwww/IServicioNormalAux/ProductosPorCategoriaResponse" message="tns:IServicioNormalAux_ProductosPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hora">
      <wsdl:input wsaw:Action="http://com.miempresa2.wwww/IServicioNormalAux/Hora" message="tns:IServicioNormalAux_Hora_InputMessage" />
      <wsdl:output wsaw:Action="http://com.miempresa2.wwww/IServicioNormalAux/HoraResponse" message="tns:IServicioNormalAux_Hora_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>